.spacing{
    background: #2874f0;
    height: 100px;

    padding-top: 0.7px;
}
.fl{
    float: left;
}
.pad
{
    margin: 22%;
}
.input-style{
    margin-top: 12%;
    margin-left: 16%;
    border: 0;
    background: transparent;
    outline: 0;
    border-width: 5%;
    border-bottom: 2px solid black;
    color: white;
    width: 75%;
    
}
.style{
    margin-top: 61%;
    margin-left: 46%;
}
.button-style {
    margin-top: 17%;
    margin-right: 40%;
    color: white;
}
.image
{
    margin: 2%;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    border-top-right-radius: 26px;
    border-top-left-radius: 26px;
}
.bg3
{
    background: url("../../../assets/img/fully-booked-stamp.jpg");
    background-size: contain;

}
.date-style{
    margin-top: 12%;
}
.card-spacing{
    margin: 1%;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    border-top-right-radius: 26px;
    border-top-left-radius: 26px;
    box-shadow: 2px 2px 2px 2px rgb(138, 137, 137);
}
.bg1
{
    min-height: 30em;
    background-size: cover;

}
.bg
{
    background-color: #e1e7ee;
}
