<div>
<header>
        <div class="top-navbar">
            <div class="row p-2">
                <div class="col-md-9">

                    <span>
                        <a routerLink="/home"><img src="../assets/img/home-icon.png"></a>
                        <strong class="topbar-separator mx-2"> |</strong></span>
                        <span>
                            <a class="nav-a"> About Us </a>
                            <strong class="topbar-separator mx-2"> |</strong>
                        </span>
                        <span>
                            <a class=nav-a routerLink="mybookings">My Bookings</a>
                            
                        </span>
                </div>
                <div class="col-md-3">
                  <div class="row">
                    <div class="col-md-6">
                  <span>
                    <i class="fa fa-user-circle-o fa-2x color" aria-hidden="true"></i>
                    <a class=nav-a>{{user.firstName}}</a>
                    
                  </span>
                </div>
                <div class="col-md-6">
                  <span>
                    <a (click)="logout()"><button class="btn btn-danger">LogOut</button></a>
                  </span>
                </div>
                </div>

                </div>
            </div>
        </div>
    </header>




    <router-outlet></router-outlet>
</div>
<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

    <!-- Footer Elements -->
    <div class="container">

        <h5 class="text-center py-3">
            Searching for a Stay?, We Provide You All
         </h5>
  
      <!--Grid row-->
      <div class="row">
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-12 mb-4">
  
          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-fluid"
              alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4">
  
          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(78).jpg" class="img-fluid"
              alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4">
  
          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(79).jpg" class="img-fluid"
              alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-12 mb-4">
  
          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(81).jpg" class="img-fluid"
              alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4">
  
          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(82).jpg" class="img-fluid"
              alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4">
  
          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(84).jpg" class="img-fluid"
              alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
      </div>
      <!--Grid row-->
  
    </div>
    <!-- Footer Elements -->

  
  </footer>
  <!-- Footer -->

<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Grid row-->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-12 py-5 d-flex">
            <div class=" mr-5">
                <h4>Reach Out to our Team <strong class="text-secondary ml-4">--||--</strong></h4>
            </div>
          <div class=" flex-center">
  
            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fa fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3  fa-2x"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Pinterest-->
            <a class="pin-ic">
              <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
            </a>
          </div>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
  
    </div>
    <!-- Footer Elements -->

  </footer>
  <!-- Footer -->